.treatment_wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: -5vh -15vw 0 0;
  height: 50%;
}

.accordion-button {
  background-color: #6e298d;
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: #6e298d;
  color: white;
}

h2#accordian-header-1 > button {
  background-color: #61247d;
}
h2#accordian-header-2 > button {
  background-color: #56206e;
}
h2#accordian-header-3 > button {
  background-color: #4b1a61;
}
h2#accordian-header-4 > button {
  background-color: #39124a;
}

#treatment_bg {
  position: fixed;
  top: 0;
  left: -70vw;
  min-width: 250%;
  min-height: 100%;
  z-index: -1;
}

.short_row {
  height: 10px;
}

#treatment_sever_container > .row {
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .treatment_card {
    margin: 0 !important;
    z-index: 0;
  }
  .treatment_col_left {
    flex-direction: row !important;
  }

  .treatment_wraper {
    margin: unset;
    height: 90%;
  }
  .treatment_btn_text {
    font-size: 2vmin !important;
  }

  .treatment_steps {
    text-align: center !important;
  }
  .backBtn {
    border: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 425px) {
  .treatment_btn_text {
    font-size: 3vmin !important;
  }
}

@media screen and (min-width: 1440px) {
  #treatment_sever_container > .row {
    margin: 2vh 0 2vh 0;
  }
  #treatment_mild_container > .row {
    margin: 2vh 0 2vh 0;
  }
}

@media screen and (min-width: 1200px) {
  #treatment_modal {
    max-width: 90% !important;
  }
}

#survey_modal {
  min-width: 600px !important;
}

#survey_modal .modal-content {
  display: flex;
  flex-direction: column;
}

#treatment_header > button {
  color: white;
}
#treatment_header {
  background-color: #6e298d !important;
}

#treatment_tabs-tab-Sertraline,
#treatment_tabs-tab-Citalopram,
#treatment_tabs-tab-Fluoxetine {
  color: #6e298d;
}

#treatment_tabs-tab-Fluoxetine:hover {
  color: white !important;
}

#treatment_tabs-tab-Sertraline:hover {
  color: white !important;
}
#treatment_tabs-tab-Citalopram:hover {
  color: white !important;
}
