.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App-header {
  background-color: #6e298d;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  position: sticky;
  z-index: 1;
}

.App-main {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.App-footer {
  height: 3vmin;
  font-size: 1.5vmin;
  background-color: #7ac3cc;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a:link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

/* Navbar style */

@media screen and (min-width: 1024px) {
  #navbar_collaps {
    display: flex;
    justify-content: flex-end;
  }

  #hightlight_con {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 1025px) {
  .nav-link a,
  .nav-item a {
    font-size: 1.5vh !important;
  }
  .logo_nav {
    margin-left: -15;
    height: 30px;
  }
  .nav-item {
    margin-top: 12px !important;
  }
}

@media screen and (max-width: 769px) {
  .card-container {
    width: 80vw !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar_core {
    align-items: baseline;
  }
}

.nav-link a,
.nav-item a {
  color: white !important;
  text-decoration: none !important;
  font-size: 2.5vh;
  text-transform: uppercase;
  font-weight: 100;
}
.dropdown-menu {
  background-color: #4a1961 !important;
}

.nav-link:hover,
.nav-link:active,
.navbar_dropdown:hover {
  padding: 7px 3px;
  border-radius: 10px;
  background-color: #4a1961 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav-item:hover {
  border-radius: 10px;
  background-color: #4a1961;
}

.nav-item {
  padding: 8px;
}

#landing_sub {
  display: flex;
  justify-content: center;
  width: 30vw;
  margin-top: 5vmin;
}

/*Card */

.card-container {
  font-family: 'Open Sans', sans serif;
  font-size: 30px;
  font-weight: bold;
  border-style: none;
  width: 100%;
  height: 60vh;
  margin: 15px auto;

  border-radius: 10px;

  perspective: 1400px;
  background-color: transparent;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  border-radius: 10px !important;
  border: none;
  border-style: none !important;
  transition: transform 1.5s;
  width: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-container:hover .card {
  transform: rotateY(180deg);
  animation-duration: 1.5s;
}

.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-style: none;
  -webkit-backface-visibility: hidden; /* Safari */
}

.front {
  color: #fff;
  background: #ab8876;
}
#front2 {
  background: #7ac3cc;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #b5d3eb;
  background: #fff;
}

/*overview section */

.ov_container0 {
  height: 100%;
  width: 100%;
}

.ov_carousel {
  height: 65vh;
  padding: 30px 0 30px 0;
  transition: all ease-in-out 2s;
  border-radius: 10px;
}

.ov_slide {
  height: 60vh;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7;
  overflow-y: auto;
  transition: all ease-in-out 2s;
}
.ov_carousel:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.carousel-control-next-icon {
  visibility: hidden;
}
.carousel-control-prev-icon {
  visibility: hidden;
}

.carousel-indicators > li {
  background-color: #6e298d !important;
  height: 1.2vmin !important;
  border-radius: 5px !important;
}

#ov_slide_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
