.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-header {
  background-color: #6e298d;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  position: sticky;
  z-index: 1;
}

.App-main {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.App-footer {
  height: 3vmin;
  font-size: 1.5vmin;
  background-color: #7ac3cc;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerLink {
  color: #6e298d;
  margin-left: 15px;
}

a:link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

/* Navbar style */

@media screen and (min-width: 1024px) {
  #navbar_collaps {
    display: flex;
    justify-content: flex-end;
  }

  #hightlight_con {
    max-width: 90% !important;
  }
}

@media screen and (max-width: 1025px) {
  .nav-link a,
  .nav-item a {
    font-size: 1.5vh !important;
  }
  .logo_nav {
    margin-left: -15;
    height: 30px;
  }
  .nav-item {
    /* margin-top: 12px !important; */
  }
}

@media screen and (max-width: 769px) {
  .card-container {
    width: 80vw !important;
  }
  .App-header {
    height: 60px;
  }
  .navbar-collapse.show {
    background-color: #6e298d;
    width: 100vw;
  }
  .navbar-nav {
    background-color: #6e298d;
  }
}

@media screen and (min-width: 768px) {
  .navbar_core {
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .carousel-indicators {
    bottom: -15vmin !important;
  }
  #overView_spacing {
    height: 8vmin !important;
  }
}

.nav-link a,
.nav-item a {
  color: white !important;
  text-decoration: none !important;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  display: unset;
}

.nav-dropdown-item.dropdown-item:hover {
  background-color: #6e298d;
}

.dropdown-menu {
  background-color: #4a1961 !important;
}
.dropdown.nav-item {
  padding: 7px 3px;
  margin: 0 10px;
}

.nav-link {
  padding: 7px 3px;
  margin: 0 10px;
}
.nav-link:hover,
.nav-link:active {
  border-radius: 10px;
  background-color: #4a1961 !important;
}
.nav-item:hover {
  border-radius: 10px;
  background-color: #4a1961;
}
#navbar_dropdown {
  padding: 0.2rem 0.2rem;
  margin: 0 10px;
}

.nav-item {
  padding: 8px;
}

#landing_sub {
  display: flex;
  justify-content: center;
  width: 30vw;
  margin-top: 5vmin;
}

/*Card */

.card-container {
  font-family: 'Open Sans', sans serif;
  font-size: 30px;
  font-weight: bold;
  border-style: none;
  width: 100%;
  height: 60vh;
  margin: 15px auto;

  border-radius: 10px;

  perspective: 1400px;
  background-color: transparent;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  border-radius: 10px !important;
  border: none;
  border-style: none !important;
  transition: transform 1.5s;
  width: 100%;
  transform-style: preserve-3d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-container:hover .card {
  transform: rotateY(180deg);
  animation-duration: 1.5s;
}

.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-style: none;
  -webkit-backface-visibility: hidden; /* Safari */
}

.front {
  color: #fff;
  background: #ab8876;
}
#front2 {
  background: #7ac3cc;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #b5d3eb;
  background: #fff;
}

/*overview section */

.ov_container0 {
  height: 100%;
  width: 100%;
}

.ov_carousel {
  height: 60vh;
  padding: 30px 0 30px 0;
  transition: all ease-in-out 2s;
  border-radius: 10px;
}

.ov_slide {
  height: 100%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7;
  overflow: hidden;
  transition: all ease-in-out 2s;
}
@media screen and (max-width: 768px) {
  .ov_slide {
    overflow-y: auto;
  }
}

.carousel-inner {
  height: 100%;
  width: 70% !important;
}
.ov_carousel:hover {
  transform: scale(1.05);
  transition: all 0.7s;
}
.ov_a {
  color: #6e298d;
  font-weight: bold;
}
.carousel-control-prev>.sr-only{
  visibility: hidden;
}
.carousel-control-next>.sr-only{
  visibility: hidden;
}
.carousel-control-next>.carousel-control-next-icon{
  
 z-index: 1000;
 width: 100%;
 height: 100%;
}
.carousel-control-prev>.carousel-control-prev-icon{
 
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.ov_carousel{
  display: flex;
  justify-content: center;
}
.carousel-indicators {
  bottom: -80px !important;
  visibility: hidden;
}
.carousel-indicators > li {
  background-color: #6e298d !important;
  height: 10px !important;
  width: 30px !important;
  margin: 0px 5px;
  border-radius: 5px !important;
}

.carousel-indicators > .active {
  background-color: #00a39b !important;
}

#overView_spacing {
  height: 8vmin;
}

#ov_slide_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hightlight_inner3 {
  height: 30vh;
  margin-top:20px;
}
#hightlight_inner3 > div {
  height: 100%;
}

.spacing {
  width: 100%;
  height: 100%;
}

.slide-footnote {
  margin-left: 50%;
  text-align: center !important;
  margin-top: 20% !important;
}

@media screen and (max-height: 800px) {
  .ov_carousel {
    height: 55vh;
  }
  .ov_slide {
    overflow-y: auto;
    height: 55vh;
  }
  #hightlight_inner3 {
    margin-top: 5%;
  }
  .slide-footnote {
    margin-left: 50%;
    text-align: center !important;
    margin-top: 5px !important;
  }
}

button.close {
  background-color: rgba(202, 106, 214, 0.01);
  border: none;
  height: 40px;
  width: 40px;
  font-size: 30px;
}

#checkbox_no:checked {
  color: red !important;
}
